.video-wrapper {
  position: relative;

  width: 100%;

  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.video-wrapper .video {
  inset: 0;
  position: absolute;

  height: 100%;
  width: 100%;
  background-color: var(--theme-color-primary);
}
